---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Piracy Shit"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2024')}
	heroImage="/images/piracy_shit_landscape.webp"
>
	<p>
		Un archivio di tutte le volte in cui Piracy Shield ha bloccato contenuti legittimi. Raccolgo anche post di persone autorevoli in materia che evidenziano problemi relativi al piracy shield
	</p>
</Layout>
